.creator-image{
    margin: auto;
    max-width: fit-content;
    margin-top: 3vw;
    text-align: center;
    font-size: 1vw;
    font-weight: 900;
}
.creator-image img{
    width: 15vw;
    border-radius: 10px;
}
#myName{
    text-align: center;
}
#socials-icons{
    display: flex;
    justify-content: space-between;
    width: 15vw;
    margin: auto;
    margin-top: 1vw;
}
a img{
    width: 3vw;
    margin-left: 1vw;
}
.about-container{
    width: 70vw;
    margin: auto;
    margin-top: 5vw;
    background-color: #ffc060;
    padding: 2vw;
    border-radius: 10px;
}