@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* Primary Color: #FFA41B */
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space-bw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}
.bars{
    display: none;
}
.bar{
    height: 2px;
    width: 25px;
    background-color: #ffffff;
    margin-top: 5px;
    border-radius: 10px;
}
#nav-list li {
    margin: 2vw;
    letter-spacing: 0.25vw  ;
    color: white;
    padding: 0.5vw;
    cursor: pointer;
}


.logo img {
    width: 45px;
}

nav {
    background-color: black;
    height: 5vw;
    color: white;
    padding: 2vw;
}

nav p {
    letter-spacing: 0.25vw;
}
nav img{
    width: 10vw;
}

#about-web-page {
    text-align: center;
    font-weight: 900;
    font-size: 3vw;
    margin-top: 2vw;
}

.stroke {
    -webkit-text-stroke: 0.1vw;
    -webkit-text-stroke-color: black;
}

input {
    width: 40vw;
    border-radius: 8px;
    height: 3vw;
    border: none;
    background-color: #FFA41B;
    padding: 1vw;
    font-size: 1.2vw;
    color: white;
    text-shadow: 1px 1px #f09000;
}

input::placeholder {
    color: white;
}

.search-bar {
    max-width: fit-content;
    margin: auto;
    margin-top: 2vw;

}

#search-click {
    width: 2vw;
    margin-left: 1vw;
    cursor: pointer;
}

#home-bg {
    margin-left: 1vw;
}

.home-page {
    background-image: url('assets/bg.png');
    background-size: cover;
    padding: 3vw;
}

#intro {
    padding: 2vw;
}

.title-case {
    font-size: 8vw;
    font-family: 'Poppins', sans-serif;
}

#intro h3 {
    width: 40vw;
}

#random-dish {
    padding: 1vw;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: 2vw 0vw 3vw 0vw;
    font-size: 1.1vw;
    font-weight: 900;
    cursor: pointer;
}
#random-dish:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
    transition: all 0.2s ease;
}
#title-2 {
    text-align: center;
}

.rand-img {
    position: relative;
    max-width: fit-content;
    margin: auto;
}

.rand-img img {
    width: 35vw;
    border-radius: 10px;
}

#data {
    position: absolute;
    bottom: 3vw;
    right: 0;
}

#data div {
    background-color: #FFA41B;
    width: 3vw;
    height: 3vw;
    padding: 0.1vw;
    border-radius: 0.3vw;
    box-shadow: 0.2vw 0.2vw 0.5vw black;
    margin: 1vw;
    cursor: pointer;
}
#dishName{
    font-size: 1.5vw;
    text-align: center;
    font-weight: 900;
    margin: 1vw;
}
#data img {
    width: 2.5vw;
}

footer {
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 4vw;
}
#footer-left {
    width: 30vw;
}
#footer-left h1 {
    font-family: 'poppins', 'sans-serif';
    font-size: 4vw;    
}
#footer-right{
    background-color: rgb(75, 75, 75);
    padding: 0.5vw;
} 
#footer-right-top{
    display: flex;
    padding: 3vw;
    font-size: 1.2vw;
}
.credits{
    margin-right: 2vw;
}

#author{
    font-size: 1vw;
}
#footer-right-bottom{
    text-align: center;
    font-size: 1vw;
}
#searchQuery{
    height: 2vw;
    width: 2vw;
    background-color: #FFA41B;
    position: absolute;
    top: 0;
    left: 0;
}
#details-search-item{
    display: none;
}
#ingredients-page, #recipe-page{
    width: 80vw;
    background: #FFA41B;
    position: fixed;
    top: 5vw;
    left: 10vw;
    display: none;
    padding: 4vw;
    border-radius: 20px;
    justify-content: space-around;
    box-shadow: .2vw .2vw 1.5vw black;
}
#searchModal{
    width: 80vw;
    background: #FFA41B;
    position: fixed;
    top: 5vw;
    left: 10vw;
    border-radius: 20px;
    padding: 4vw;
    justify-content: space-around;
}
#bg{
    position: relative;
} 

.page-left h3{
    font-size: 3vw;
    text-align: center;
    
}
#ingredient-list, #recipe-list{ 
    background-color: #ffc060;
    padding: 3vw;
    width: 35vw;
    margin: auto;
    margin-top: 2vw;
    margin: 2vw;
    height: 25vw;
    overflow-y: auto;
    font-size: 1.2vw;
}


.close{
    position: absolute;
    top: 1vw;
    right: 1vw;
    background-color: #ffffff00;
    border: none;
    width: 3vw;
    cursor: pointer;
}
.close img{
    width: 100%;
}
.dishes-table{
    text-align: center;
    border-radius: 10px;
    margin: 3vw;
    padding: 2vw;
    display: none;
}
#table{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    gap: 3vw;
    max-width: fit-content;
    margin: auto;
    margin-top: 3vw;
    background-color: #FFA41B;
    padding: 4vw;
    border-radius: 10px;
}
.dish{
    height: 20vw;
    margin-bottom: 5vw;
    border-radius: 10px;
}
.dish img{
    width: 100%;
    border-radius: 10px;
}
.dish:hover{
    box-shadow: 0.2vw 0.2vw 1vw rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
}
#title-3{
    text-align: center;
    font-size: 6vw;
}
.meal-img{
    width: 26vw;
}
.desc{
    font-size: 1.5vw;
    text-align: center;
    font-weight: 900;
}
::-webkit-scrollbar{
    width: 0.5vw;
}
::-webkit-scrollbar-track{
    background-color: none;
}
::-webkit-scrollbar-thumb{
    background-color: #f09000;
}
#red{
    color: #f09000;
    font-size: inherit;
}
.credit-block{
    margin-bottom: 2vw;
}
#random-image{
    box-shadow: 0.2vw 0.2vw 2vw rgb(54, 54, 54);
}
a{
    color: inherit;
    text-decoration: none;
}
.food-desc{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 900;
}
#footer-end{
    width: 100%;
    height: 3vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-url{
    text-decoration: underline;
}
#menu{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vw;
    padding-top: 0;
    top: 15vw;
    right: 0.5vw;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    transition: display 3s ease;
}
#menu img{
    width: 7vw;
    margin-top: 3vw;
}
#search-details-page{
    width: 80vw;
    background: #FFA41B;
    position: fixed;
    top: 6vw;
    left: 10vw;
    padding: 4vw;
    border-radius: 20px;
    justify-content: space-around;
    display: none;
    box-shadow: .2vw .2vw 1.5vw black;
}
#search-right{
    width: 45vw;
    margin-right: 2vw;
    text-align: center;
}
#search-right img{
    width: 100%;
}
#search-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 80%;
}
#search-left div{
    background-color: #ffc060;
    height: 20vw;   
    overflow: auto;
    margin: 2vw;
    padding: 2vw;

}
#nav-list li:hover{
    box-shadow: 0px 0.2vw #FFA41B;
    transition: box-shadow 0.3s ease;
    transform: scale(1.05);
    color: #FFA41B;
}
#head{
    font-size: 1.8vw;    
}
.close-2{
    position: absolute;
    top: 1vw;
    right: 1vw;
    background-color: #ffffff00;
    border: none;
    width: 3vw;
    cursor: pointer;
}
.close-2 img{
    width: 100%;
}
